<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

	<context:component-scan base-package="com.zyh.hu" />
    <context:annotation-config />
    
	<!--框架配置文件在此引入-->
	<import resource="classpath:spring/jpa/springdata-jpa.xml" />
	<import resource="classpath:properties/properties.xml" />
    <!-- Spring上传文件时，需要配置MultipartResolver处理器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    	<property name="maxUploadSize" value="10000000" />
    </bean>
	<!--加载属性配置文件-->
	<!-- <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	<property name="fileEncoding" value="UTF-8" />
		<property name="locations">
			<list>
				<value>classpath*:properties/mysql.properties</value>
			</list>
		</property>
	</bean> -->
	
	<!--Spring线程池-->
	<bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">  
		<!--核心线程数       ${status.thread.num}  ${status.thread.max.num}  ${status.queue.max.num}   ${status.keep.alive.time}    -->
        <property name="corePoolSize" value="10" />  
		<!--最大线程数   -->
        <property name="maxPoolSize" value="20" />  
		<!--队列最大长度 >=mainExecutor.maxSize   -->
        <property name="queueCapacity" value="50" />  
		<!--线程池维护线程所允许的空闲时间,默认是60s   -->
        <property name="keepAliveSeconds" value="30" />  
		<!--线程池对拒绝任务(无线程可用)的处理策略  -->
		<!--AbortPolicy:直接抛出java.util.concurrent.RejectedExecutionException异常 -->
		<!--CallerRunsPolicy:主线程直接执行该任务，执行完之后尝试添加下一个任务到线程池中，可以有效降低向线程池内添加任务的速度 -->
		<!--DiscardOldestPolicy:抛弃旧的任务、暂不支持；会导致被丢弃的任务无法再次被执行 -->
		<!--DiscardPolicy:抛弃当前任务、暂不支持；会导致被丢弃的任务无法再次被执行  -->
        <property name="rejectedExecutionHandler">  
            <bean class="java.util.concurrent.ThreadPoolExecutor$CallerRunsPolicy" />  
        </property>  
    </bean> 
    
</beans>
